<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="3600" maxRequestLength="51200" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="10000"/>
    <customErrors defaultRedirect="~/errorpage.htm"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" cookieless="false"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>

  </system.web>
  <appSettings>
    <!--正式服务-->
    <!--<add key="ResourceServiceUrl" value="http://zy.dorlly.com/webapi/resourceservice.asmx"/>-->
    <!--测试服务-->
    <add key="ResourceServiceUrl" value="http://120.76.154.6:8998/webapi/resourceservice.asmx"/>
  </appSettings>
  <connectionStrings>
    <!--本地库-->
    <!--<add name="connStr" connectionString="Data Source=.;Initial Catalog=DorllyOrder;User Id =sa;Password=lwy;"/>-->
    <!--测试库-->
    <add name="connStr" connectionString="Data Source=120.76.154.6;Initial Catalog=DorllyOrder_Test;User Id =sa;Password=2015atXL210to213;"/>
    <!--正式库-->
    <!--<add name="connStr" connectionString="Data Source=120.76.154.6;Initial Catalog=DorllyOrder;User Id =sa;Password=2015atXL210to213;"/>-->
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <staticContent>
      <remove fileExtension=".pdf" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="text/xml" />
      <mimeMap fileExtension=".pdf" mimeType="application/octet-stream" />
    </staticContent>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>